<div class="row mt-2">
    <div class="col-lg-4 offset-lg-4">
        <div class="card bg-secondary mb-3" style="max-width: 50rem;">
            <div class="card-header text-center"> {{ operacion }} Usuario</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addUser()">
                    <input formControlName="first_name" type="text" class="form-control" placeholder="Enter First Name">
                    <input formControlName="last_name" type="text" class="form-control mt-2" placeholder="Enter Last Name">
                    <input formControlName="possition" type="text" class="form-control mt-2" placeholder="Enter Position">
                    <input formControlName="type_em" type="text" class="form-control mt-2" placeholder="Enter Type of Employee">
                    <label class="date mt-2">Start date</label>
                    <input formControlName="start_date" type="date" class="date ms-2" id="fecha" name="fecha">
                    <label class="date ms-2">End date</label>
                    <input formControlName="end_date" type="date" class="date ms-2" id="fecha" name="fecha">
                    <input formControlName="supervisor_name" type="text" class="form-control mt-2" placeholder="Enter Supervisor Name">
                    <input formControlName="salary" type="text" class="form-control mt-2" placeholder="Enter Salary">
                    <label class="date">Select a birthday date</label>
                    <input formControlName="birthday" type="date" class="date ms-2 mt-2" id="fecha" name="fecha">
                    <input formControlName="program" type="text" class="form-control mt-2" placeholder="Enter Program">
                    <input formControlName="computer" type="text" class="form-control mt-2" placeholder="Enter computer Service Tag">
                    <input formControlName="phone" type="text" class="form-control mt-2" placeholder="Enter Phone Serial">
                    <input formControlName="office" type="text" class="form-control mt-2" placeholder="Enter number office">
                    <input formControlName="email" type="text" class="form-control mt-2" placeholder="Enter email">
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-danger">Back</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary">Acepted</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>